<div class="box categories">
    <h2>Veiksmai<span></span></h2>
    <div class="box-content">
        <ul>
            <li><a href="/inventory/item/form">Naujas Daiktas</a></li>
            <li><a href="/inventory/report">Ataskaitos</a></li>
            <li><a href="/inventory/status">Būsenos</a></li>
            <li><a href="/inventory/category">Kategorijos</a></li>
        </ul>
    </div>
</div>