{% extends 'base.html.twig' %}

{% block menu %}
<h1 class="login-logo">LCS</h1>
{% endblock %}

{% block content %}
<div class="container">
    <form method="get" action="/main">
        <div>
            <label class="user-form" for="user-email">El. paštas</label>
            <input class="user-form" type="email" id="user-email" placeholder="elpastas@pastas.lt" />
        </div>
        <div>
            <label class="user-form" for="password">Slatažodis</label>
            <input class="user-form" type="password" id="password" />
        </div>
        <button type="submit" class="btn login">Prisijungti</button>
        <a href="/register" class="btn login">Registruotis</a>
</form>
</div>
{% endblock %}