{% extends 'base.html.twig' %}

{% block menu %}
{% endblock %}

{% block content %}
<div style="width: 30%; margin-left: auto; margin-right: auto;" class="p-3 mx-auto">
    <h1 class="text-center">LCS</h1>
    <form method="post" action="/login">
        {% if error %}
        <div class="alert alert-danger text-left">
            <span>Neteisingas prisijungimo el. paštas arba slaptažodis</span>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="_username">El. paštas</label>
            <input class="form-control" type="email" name="_username" id="_username" value="{{ last_username }}" required />
        </div>
        <div class="form-group">
            <label for="_password">Slatažodis</label>
            <input class="form-control" type="password" name="_password" id="_password" required />
        </div>
        <input type="hidden" name="_target_path" value="/main" />
        <button type="submit" class="btn btn-secondary">Prisijungti</button>
        <a href="/register" class="btn btn-light">Registruotis</a>
    </form>
</div>
{% endblock %}