{% extends 'base.html.twig' %}

{% block content %}
<table class="table-simple">
    <thead class="table-simple-row">
        <td class="table-simple-header">Vardas</td>
        <td class="table-simple-header">Pavardė</td>
        <td class="table-simple-header">El. paštas</td>
        <td class="table-simple-header">Tipas</td>
        <td class="table-simple-header">Veiksmas</td>
    </thead>
    <tr class="table-simple-row">
        <td class="table-simple-cell">Vardenis1</td>
        <td class="table-simple-cell">Pavardenis1</td>
        <td class="table-simple-cell">pastas1@pastas.com</td>
        <td class="table-simple-cell">Administratorius</td>
        <td class="table-simple-cell">
            <a class="table-action" href="#">Patvirtinti</a>
            <a class="table-action" href="#">Atmesti</a>
        </td>
    </tr>
    <tr class="table-simple-row">
        <td class="table-simple-cell">Vardenis2</td>
        <td class="table-simple-cell">Pavardenis2</td>
        <td class="table-simple-cell">pastas2@pastas.com</td>
        <td class="table-simple-cell">Darbuotojas</td>
        <td class="table-simple-cell">
            <a class="table-action" href="#">Patvirtinti</a>
            <a class="table-action" href="#">Atmesti</a>
        </td>
    </tr>
    <tr class="table-simple-row">
        <td class="table-simple-cell">Vardenis3</td>
        <td class="table-simple-cell">Pavardenis3</td>
        <td class="table-simple-cell">pastas3@pastas.com</td>
        <td class="table-simple-cell">Administratorius</td>
        <td class="table-simple-cell">
            <a class="table-action" href="#">Patvirtinti</a>
            <a class="table-action" href="#">Atmesti</a>
        </td>
    </tr>
    <tr class="table-simple-row">
        <td class="table-simple-cell">Vardenis4</td>
        <td class="table-simple-cell">Pavardenis4</td>
        <td class="table-simple-cell">pastas4@pastas.com</td>
        <td class="table-simple-cell">Darbuotojas</td>
        <td class="table-simple-cell">
            <a class="table-action" href="#">Patvirtinti</a>
            <a class="table-action" href="#">Atmesti</a>
        </td>
    </tr>
    <tr class="table-simple-row">
        <td class="table-simple-cell">Vardenis5</td>
        <td class="table-simple-cell">Pavardenis5</td>
        <td class="table-simple-cell">pastas5@pastas.com</td>
        <td class="table-simple-cell">Darbuotojas</td>
        <td class="table-simple-cell">
            <a class="table-action" href="#">Patvirtinti</a>
            <a class="table-action" href="#">Atmesti</a>
        </td>
    </tr>
    <tr class="table-simple-row">
        <td class="table-simple-cell">Vardenis6</td>
        <td class="table-simple-cell">Pavardenis6</td>
        <td class="table-simple-cell">pastas6@pastas.com</td>
        <td class="table-simple-cell">Darbuotojas</td>
        <td class="table-simple-cell">
            <a class="table-action" href="#">Patvirtinti</a>
            <a class="table-action" href="#">Atmesti</a>
        </td>
    </tr>
</table>
{% endblock %}