{% extends 'base.html.twig' %}

{% block menu %}
<h1 class="login-logo">LCS</h1>
{% endblock %}

{% block content %}
<div class="container">
    <form method="get" action="/login">
        <div class="form-group">
            <label class="user-form" for="user-email">El. paštas</label>
            <input class="user-form" type="email" class="form-control" id="user-email" placeholder="elpastas@pastas.lt" />
        </div>
        <div class="form-group">
            <label class="user-form" for="password">Slatažodis</label>
            <input class="user-form" type="password" class="form-control" id="password" />
        </div>
        <div class="form-group">
            <label class="user-form" for="password-repeat">Pakartoti slatažodis</label>
            <input class="user-form" type="password" class="form-control" id="password-repeat" />
        </div>
        <div class="form-group">
            <label class="user-form" for="user-type">Vartotojo tipas</label>
            <select class="user-form" id="user-type">
                <option selected>Klientas</option>
                <option>Darbuotojas</option>
                <option>Administratorius</option>
            </select>
        </div>
        <button type="submit" class="btn login">Registruotis</button>
    </form>
</div>
{% endblock %}