{% extends 'base.html.twig' %}

{% block menu %}
{% endblock %}

{% block content %}
<div style="width: 30%; margin-left: auto; margin-right: auto;" class="p-3 mx-auto border-danger rounded">
    <h1 class="text-center">LCS</h1>
    {% if error %}
    <div class="alert alert-danger text-left">
        <ul class="list-unstyled">
            {% for message in error_msgs %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post" action="/register">
        <div class="form-group">
            <label for="name">Vardas</label>
            <input class="form-control" type="text" id="name" name="name" value="{{ last_name }}" />
        </div>
        <div class="form-group">
            <label for="name">Pavardė</label>
            <input class="form-control" type="text" id="surname" name="surname" value="{{ last_surname }}" />
        </div>
        <div class="form-group">
            <label for="email">El. paštas</label>
            <input class="form-control" type="email" class="form-control" name="email" id="email" value="{{ last_email }}" />
        </div>
        <div class="form-group">
            <label for="password">Slatažodis</label>
            <input class="form-control" type="password" class="form-control" name="password" id="password" />
        </div>
        <div class="form-group">
            <label for="password-repeat">Pakartoti slatažodis</label>
            <input class="form-control" type="password" class="form-control" name="password-repeat" id="password-repeat" />
        </div>
        <div class="form-group">
            <label for="user-type">Vartotojo tipas</label>
            <select class="form-control" name="user-type" id="user-type">
                <option selected>Klientas</option>
                <option>Darbuotojas</option>
                <option>Administratorius</option>
            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Registruotis</button>
        <a href="/login" class="btn btn-link">Atgal</a>
    </form>
</div>
{% endblock %}