{% extends 'base.html.twig' %}

{% block menu %}
<h1 class="login-logo">LCS</h1>
{% endblock %}

{% block content %}
<div class="container">
    {% if error %}
    <div>
        <ul>
            {% for message in error_msgs %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post" action="/register">
        <div>
            <label for="name">Vardas</label>
            <input type="text" id="name" name="name" value="{{ last_name }}" />
        </div>
        <div>
            <label for="name">Pavardė</label>
            <input type="text" id="surname" name="surname" value="{{ last_surname }}" />
        </div>
        <div class="form-group">
            <label class="user-form" for="email">El. paštas</label>
            <input class="user-form" type="email" class="form-control" name="email" id="email" value="{{ last_email }}" />
        </div>
        <div class="form-group">
            <label class="user-form" for="password">Slatažodis</label>
            <input class="user-form" type="password" class="form-control" name="password" id="password" />
        </div>
        <div class="form-group">
            <label class="user-form" for="password-repeat">Pakartoti slatažodis</label>
            <input class="user-form" type="password" class="form-control" name="password-repeat" id="password-repeat" />
        </div>
        <div class="form-group">
            <label class="user-form" for="user-type">Vartotojo tipas</label>
            <select class="user-form" name="user-type" id="user-type">
                <option selected>Klientas</option>
                <option>Darbuotojas</option>
                <option>Administratorius</option>
            </select>
        </div>
        <button type="submit" class="btn login">Registruotis</button>
    </form>
</div>
{% endblock %}