<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="my-4">Veiksmai</h2>
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <div class="list-group">
                <a href="/admin" class="list-group-item">Keliauti į valdymo skydą</a>
            </div>
        </div>
    </div>
</div>