{% extends 'base.html.twig' %}

{% block content %}
    <form method="get" action="/main">
        <div>
            <label class="user-form" for="category">Pakuotės matmenys</label>
            <select class="user-form" id="category">
                <option selected>Maža pakuotė</option>
                <option selected>Vidutinė pakuotė</option>
                <option selected>Didelė pakuotė</option>
            </select>
        </div>
        <div>
            <label class="user-form" for="status">Užpildai</label>
            <select class="user-form" id="status">
                <option selected>Be užpildo</option>
                <option selected>Putplastis</option>
            </select>
        </div>
        <div>
            <label class="user-form" for="status">Siuntimo b0das</label>
            <select class="user-form" id="status">
                <option selected>Paštu</option>
                <option selected>Kurjeriu</option>
            </select>
        </div>
        <div>
            <label class="user-form" for="status">Ar reikalingas draudimas</label>
            <input class="user-form" type="checkbox" name="insurance" value="" checked="checked" />
        </div>
        <div>
            <label class="user-form" for="status">Ar reikalingas siuntos sekimas</label>
            <input class="user-form" type="checkbox" name="tracking" value="" checked="checked" />
        </div>
        <button type="submit" class="btn login">Patvirtinti</button>
    </form>
    <div class="cl">&nbsp;</div>
{% endblock %}