<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">LCS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/main">Prekes</a></li>
            <li><a  href="/transportation">Transportavimas</a></li>
            <li><a href="/orders/list">Mano uzsakymai</a></li>
            <li><a href="/inventory">Inventorius</a></li>
            <li><a href="/pending">Paskyros</a></li>
            <li><a href="/user">Profilis</a></li>
            <li><a href="/medz_gr">Medžiagų grupės</a></li>
            <li><a href="/tiek">Tiekėjai</a></li>
            <li><a href="/produkt">Produktai</a></li>
            <li><a href="/admin">Valdiklis</a></li>
            <li><a href="/login">Atsijungti</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div>
                <a href="/orders/new_order" class="cart-link">Jusu uzsakymas</a>
                <div class="cl">&nbsp;</div>
                <span class="label label-info">Prekes: <strong>4</strong></span> &nbsp;<span class="label label-info">Kaina: <strong>EUR 250.99</strong></span>
            </div>
            {#<li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
            {#<li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>#}
        </ul>
    </div>
</nav>