.login-logo {
    color: #ff6600;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.btn.login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    text-decoration: none;
    text-align: center;
}

.btn.login:hover {
    color: white;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

label.user-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input.user-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

select.user-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.logout {
    float:right;
    width:80px;
    top:0;
    right:0;
    height:51px;
    background:#ff6600;
    color:#fff;
    padding:13px 10px 0 10px;
    white-space:nowrap;
    line-height:20px;
}

.table-simple {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table-simple-row {
    margin-bottom: 50px;
}

.table-simple-header {
    padding: 10px 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #ff6600;
    color: white;
    border: 1px solid white;
}

.table-action {
    color: #ff6600;
    text-decoration: none;
}

.table-simple-cell {
    border: 1px solid #ff6600;
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-content {
    width: 80%;
    float: right;
}