{% extends 'base.html.twig' %}

{% block content %}
    <div class="cl">&nbsp;</div>
    <div>
        <div class="row">
            <div class="col-lg-3 panel-group">
                {% include 'Admin/side_menu.html.twig' %}
            </div>
            <div class="col-lg-9">
                <div class="container">
                    <h2> Siuntimo būdo Duomenys</h2>
                </div>
                {{ include('success_msg.html.twig', { 'msg': success }) }}
                <div class="container">
                    <form action="/Admin/add_shipping_method{% if item is not null %}?edit=1&id={{ item.id }}{% endif %}" method="Post">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="name"><i class="fa fa-user"></i> Pavadinimas:</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control"  id="name" name="name" placeholder="Pavadinimas" value="{% if item is not null %}{{ item.name }}{% endif %}" required oninvalid="this.setCustomValidity('Įveskite pavadinimą!')" oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="submit" value="Išsaugti" class="btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
{% endblock %}