{% extends 'base.html.twig' %}

{% block content %}
    <div id="main-content">
        <div align="center">
            <h2>Administratoriaus valdymo skydas</h2>
        </div>
    </div>

    <div id="sidebar">
    {{ include ('Admin/side_menu.html.twig') }}
    </div>
    <div class="cl">&nbsp;</div>
{% endblock %}