{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-lg-3 panel-group">
        {% include 'Admin/side_menu.html.twig' %}
    </div>
    <div class="col-lg-9">
        <table class="table">
            <thead class="thead-dark">
            <th scope="col">Pavadinimas</th>
            <th scope="col">Veiksmas</th>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.name }}</td>
                    <td>
                        <form method="post" action="/dimensions">
                            {#<input type="hidden" name="id" id="id" value="{{ request.id }}" />#}
                            <input class="btn-link" type="submit" name="accept" value="Redaguoti" />
                            <input class="btn-link" type="submit" name="reject" value="Pašalinti" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}