<div class="box categories">
    <h2>Veiksmai<span></span></h2>
    <div class="box-content">
        <ul>
            <li><a href="/admin/dimensions">Redaguoti matmenų sąrašą</a></li>
            <li><a href="/admin/filler">Redaguoti užpildų sąrašą</a></li>
            <li><a href="/admin/shipping_methods">Redaguoti siuntimo būdų sąrašą</a></li>
            <li><a href="/admin/report">Traspostavimo ataskaitos sudarymas</a></li>
        </ul>
    </div>
</div>