<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="my-4">Veiksmai</h2>
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <div class="list-group">
                <a href="/admin/dimensions" class="list-group-item">Redaguoti matmenų sąrašą</a>
                <a href="/admin/filler" class="list-group-item">Redaguoti užpildų sąrašą</a>
                <a href="/admin/shipping_methods" class="list-group-item">Redaguoti siuntimo būdų sąrašą</a>
                <a href="/admin/report" class="list-group-item">Traspostavimo ataskaitos sudarymas</a>
            </div>
        </div>
    </div>
</div>