{% extends 'base.html.twig' %}

{% block content %}
    <div id="main-content">
        <table class="table-simple">
            <thead class="table-simple-row">
            <td class="table-simple-header">Pavadinimas</td>
            <td class="table-simple-header">Veiksmas</td>
            </thead>
            <tr class="table-simple-row">
                <td class="table-simple-cell">Be užpildo</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="#">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell">Granulėmis</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="#">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell">Burbulinė plėvelė</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="#">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="sidebar">
    <!-- End Categories -->
    {{ include ('Admin/side_menu.html.twig') }}
    </div>
    <!-- End Sidebar -->
    <div class="cl">&nbsp;</div>
{% endblock %}