{% extends 'base.html.twig' %}

{% block content %}
    <div id="main-content">
        <form method="get" action="report">
            <div>
                <label class="user-form" for="type">Ataskaitos tipas</label>
                <select class="user-form" id="type">
                    <option>Trasportavimo</option>
                </select>
            </div>
            <div>
                <label class="user-form" for="date">Nuo</label>
                <input class="user-form" type="date" id="from_date" />
            </div>
            <div>
                <label class="user-form" for="date">Iki</label>
                <input class="user-form" type="date" id="to_date" />
            </div>
            <button type="submit" class="btn login">Rodyti</button>
        </form>
        <table class="table-simple">
            <thead class="table-simple-row">
            <td class="table-simple-header">Užsakymo data</td>
            <td class="table-simple-header">Vertė</td>
            <td class="table-simple-header">Siuntimo būdas</td>
            </thead>
            <tr class="table-simple-row">
                <td class="table-simple-cell">02/11/2018</td>
                <td class="table-simple-cell">50</td>
                <td class="table-simple-cell">Paštu</td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell">05/07/2018</td>
                <td class="table-simple-cell">20</td>
                <td class="table-simple-cell">Kurjeriu</td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell">13/04/2018</td>
                <td class="table-simple-cell">500</td>
                <td class="table-simple-cell">Paštu</td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-header table-total-label">Iš viso:</td>
                <td class="table-simple-cell table-total-value">570</td>
            </tr>
        </table>
    </div>
    <div id="sidebar">
    <!-- End Categories -->
    {{ include ('Admin/side_menu.html.twig') }}
    </div>
    <!-- End Sidebar -->
    <div class="cl">&nbsp;</div>
{% endblock %}