{% extends 'base.html.twig' %}

{% block content %}
    <!-- Content -->
    <div>
        <h2>Medžiagų grupės:</h2>
        <button class="btn" style="width: 100px;" onclick="window.location.href='/produkt/add_medz_gr'">Pridėti</button>

        <table class="table-simple">
            <thead class="table-simple-row">
                <td class="table-simple-header">Pavadinimas</th>
                <td class="table-simple-header"></th>
            </thead>
            <tr class="table-simple-row">
                <td class="table-simple-cell">Kėdės</td>
                <td class="table-simple-cell">
                    <ul>
                        <a href="/produkt/add_medz_gr"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="#"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell">Stalai</td>
                <td class="table-simple-cell">
                    <ul>
                        <a href="/produkt/add_medz_gr"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="#"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell">Stalažai</td>
                <td class="table-simple-cell">
                    <ul>
                        <a href="/produkt/add_medz_gr"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="#"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell">Pjaustytos lentos</td>
                <td class="table-simple-cell">
                    <ul>
                        <a href="/produkt/add_medz_gr"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="#"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
{% endblock %}
