{% extends 'base.html.twig' %}

{% block content %}
    <!-- Content -->
    <script>
        function funcText(id) {
            document.getElementById('deleteID').value = id;
            return false;
        }
    </script>
    <div>
        <h2>Medžiagų grupės:</h2>
        {% if error != "" %}
            <div class="alert alert-danger text-left"><span>{{ error }}</span></div>
        {% endif %}
        <button class="btn" style="width: 100px;" onclick="window.location.href='/produkt/add_medz_gr'">Pridėti</button>

        <table class="table table-bordered">
            <thead >
                <td >Pavadinimas</th>
                <td ></th>
            </thead>
            {% for item in medzGr %}
                <thead >
                <td >{{ item.pavadinimas }}</td>
                <td>
                    <ul>
                        <a href="/produkt/add_medz_gr?edit=1&id={{item.id}}">Redaguoti</a>
                        <a href="" onclick="return funcText({{item.id}})" data-toggle="modal" data-target="#exampleModalCenter">Trinti</a>
                    </ul>
                </td>
                </thead>
            {% endfor %}
        </table>
    </div>
    <!-- Modal -->
    <form action="/medz_gr" method="Post">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Trinimo patvirtinimas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ar tikrai norinte ištrinti objektą?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Ne/Atgal</button>
                        <input id="deleteID" name="deleteID" value="" hidden="hidden">
                        <input type="submit" class="btn btn-primary" value="Taip" class="btn">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
{% endblock %}
