{% extends 'base.html.twig' %}

{% block content %}
<div class="cl">&nbsp;</div>
    <div class="cl">&nbsp;</div>
    <!-- Content -->
    <div>
        <h2>Produktai:</h2>
        <button class="btn" style="width: 100px;" onclick="window.location.href='/produkt/add_produkt'">Pridėti</button>

        <table class="table-simple">
            <thead class="table-simple-row">
                <td class="table-simple-header">Data</td>
                <td class="table-simple-header">Pavadinimas</td>
                <td class="table-simple-header">Medžiagų grupė</td>
                <td class="table-simple-header"></td>
            </thead>
            <thead class="table-simple-row">
                <td class="table-simple-cell">2018-10-05</td>
                <td class="table-simple-cell">HENRIKSDAL</td>
                <td class="table-simple-cell">Kėdės</td>
                <td class="table-simple-cell">
                    <ul>
                        <a href="/produkt/add_produkt"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="#"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                </td>
            </thead>
            <thead class="table-simple-row">
                <td class="table-simple-cell">2017-09-05</td>
                <td class="table-simple-cell">GAMLARED</td>
                <td class="table-simple-cell">Stalai</td>
                <td class="table-simple-cell">
                    <ul>
                        <a href="/produkt/add_produkt"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="#"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                </td>
            </thead>
            <thead class="table-simple-row">
                <td class="table-simple-cell">2018-05-06</td>
                <td class="table-simple-cell">INGATORP</td>
                <td class="table-simple-cell">Stalai</td>
                <td class="table-simple-cell">
                    <ul>
                        <a href="/produkt/add_produkt"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="#"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                </td>
            </thead>
        </table>
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
{% endblock %}
