{% extends 'base.html.twig' %}

{% block body %}
<div class="cl">&nbsp;</div>
    <!-- Content -->
    <div id="content">
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <h2>Produkto Duomenys</h2>
                </div>
                <div class="container">
                    <form action="/action_page.php">

                        <div class="row">
                            <div class="col-50">
                                <label for="fname"><i class="fa fa-user"></i> Pavadinimas</label>
                                <input type="text" id="fname" name="firstname" placeholder="GUTENBERG">
                                <label for="firm"><i class="fa fa-user"></i> Medžiagų grupė</label>
                                <select id="firm" class="custom-select">
                                    <option>Kėdės</option>
                                    <option>Stalai</option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="Išsaugti" class="btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
{% endblock %}
