{% extends 'base.html.twig' %}

{% block body %}
<div class="cl">&nbsp;</div>
    <div id="content">

        <div class="box">
            <h2>Ataskaitos duomenys:</h2>
            <div class="box-content">
                <form action="#" method="post">
                    <div class="inline-field">
                        <label>Data nuo:</label>
                        <input type="date"/>
                        <label>Data iki:</label>
                        <input type="date"/>
                    </div>
                    <input type="submit" class="btn" style="width: 150px" value="Kurti ataskaita" />
                </form>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <div class="cl">&nbsp;</div>
{% endblock %}
