{% extends 'base.html.twig' %}

{% block body %}
<div class="cl">&nbsp;</div>

    <!-- Content -->
    <div id="content">
        <h2>Tiekėjai:</h2>
        <button class="btn" style="width: 100px;" onclick="window.location.href='/LCS/templates/produkt/add_tiek.html.twig'">Pridėti</button>
        <button class="btn" style="width: 100px;" onclick="window.location.href='/LCS/templates/produkt/ataskaita.html.twig'">Kurti ataskaita</button>
        <table>
            <tr>
                <th>Data</th>
                <th>Tiekėjas</th>
                <th>Firma</th>
                <th>E. paštas</th>
                <th>Vadybininkas</th>
                <th>Vadybininko E. paštas</th>
                <th></th>
            </tr>
            <tr>
                <td>2018-10-05</td>
                <td>Petras</td>
                <td>UAB "Worm"</td>
                <td>petras@worm.com</td>
                <td>Pietra</td>
                <td>pirtis@worm.com</td>
                <td>
                    <ul>
                        <a href="add_tiek.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="tiek.html.twig"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                    <ul>
                        <a href="add_tiek_produkt.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Pridėti produktą</a>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2017-09-05</td>
                <td>Jonas</td>
                <td>UAB "Cat"</td>
                <td>jonas@cat.com</td>
                <td>Aistė</td>
                <td>aiste@cat.com</td>
                <td>
                    <ul>
                        <a href="add_tiek.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="tiek.html.twig"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                    <ul>
                        <a href="add_tiek_produkt.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Pridėti produktą</a>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2019-01-04</td>
                <td>Benas</td>
                <td>UAB "Dog"</td>
                <td>ben@dga.com</td>
                <td>Robert</td>
                <td>rb_rt@dga.com</td>
                <td>
                    <ul>
                        <a href="add_tiek.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="tiek.html.twig"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                    <ul>
                        <a href="add_tiek_produkt.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Pridėti produktą</a>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2018-05-06</td>
                <td>Laima</td>
                <td>UAB "Cow"</td>
                <td>lm_ml@des.com</td>
                <td>Rita</td>
                <td>rita@des.com</td>
                <td>
                    <ul>
                        <a href="add_tiek.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="tiek.html.twig"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                    <ul>
                        <a href="add_tiek_produkt.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Pridėti produktą</a>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2016-04-03</td>
                <td>Laura</td>
                <td>UAB "Pig"</td>
                <td>lr123@cr.com</td>
                <td>Rita</td>
                <td>rt1245asd@cr.com</td>
                <td>
                    <ul>
                        <a href="add_tiek.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Redaguoti</a>
                        <a href="tiek.html.twig"><img src="css/images/icons8-delete-50.png" width="15px"/>Trinti</a>
                    </ul>
                    <ul>
                        <a href="add_tiek_produkt.html.twig"><img src="css/images/icons8-edit-50.png" width="15px"/>Pridėti produktą</a>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!-- End Content -->

    <div class="cl">&nbsp;</div>
{% endblock %}
