<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}LCS sistema{% endblock %}</title>
        
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block meniu %}
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-light border border-primary rounded sticky-top">
                <a class="navbar-brand" href="/main">LCS</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item border border-primary rounded mx-1">
                            <a class="nav-link text-secondary" href="/inventory">Inventorius</a>
                        </li>
                        <li class="nav-item border border-primary rounded mx-1">
                            <a class="nav-link text-secondary" href="/pending">Paskyros</a>
                        </li>
                        <li class="nav-item border border-primary rounded mx-1">
                            <a class="nav-link text-secondary" href="user">Profilis</a>
                        </li>
                    </ul>
                </div>

                <form class="form-inline" method="get" action="/login">
                    <button type="submit" class="btn btn-primary">Atsijungti</button>
                </form>
            </nav>
        </div>
        {% endblock %}
        
        {% block content %}{% endblock %}


        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
