<!-- Header -->
<div id="header">
    <h1 id="logo"><a href="/">LCS</a></h1>
    <!-- Cart -->
    <div id="cart"> <a href="/new_order" class="cart-link">Jusu uzsakymas</a>
    <div class="cl">&nbsp;</div>
    <span>Prekes: <strong>4</strong></span> &nbsp;&nbsp; <span>Cost: <strong>EUR 250.99</strong></span> </div>
    <!-- End Cart -->
    <!-- Navigation -->
    <div id="navigation">
    <ul>
        <li><a href="/main">Prekes</a></li>
        <li><a href="/orders/list">Mano uzsakymai</a></li>
        <li><a href="#">Transportavimas</a></li>
        <li><a href="/inventory">Inventorius</a></li>
        <li><a href="/pending">Paskyros</a></li>
        <li><a href="/user">Profilis</a></li>
        <li><a href="/login">Atsijungti</a></li>
        <li><a href="produkt/medz_gr.html.twig">Medžiagų grupės</a></li>
        <li><a href="produkt/tiek.html.twig">Tiekėjai</a></li>
        <li><a href="produkt/produkt.html.twig">Produktai</a></li>
    </ul>
    </div>
    <!-- End Navigation -->
</div>
<!-- End Header -->