<!-- Header -->
<div id="header">
    <h1 id="logo"><a href="/">LCS</a></h1>
    <!-- Cart -->
    <div id="cart"> <a href="new_uzsakymas.html" class="cart-link">Jusu uzsakymas</a>
    <div class="cl">&nbsp;</div>
    <span>Prekes: <strong>4</strong></span> &nbsp;&nbsp; <span>Cost: <strong>EUR 250.99</strong></span> </div>
    <!-- End Cart -->
    <!-- Navigation -->
    <div id="navigation">
    <ul>
        <li><a href="/main">Prekes</a></li>
        <li><a href="Uzsakymas.html">Mano uzsakymai</a></li>
        <li><a href="/transportation">Transportavimas</a></li>
        <li><a href="/inventory">Inventorius</a></li>
        <li><a href="/pending">Paskyros</a></li>
        <li><a href="/user">Profilis</a></li>
        <li><a href="/admin">Valdiklis</a></li>
        <li><a href="/login">Atsijungti</a></li>
    </ul>
    </div>
    <!-- End Navigation -->
</div>
<!-- End Header -->