{% extends 'base.html.twig' %}

{% block content %}
<div id="main-content">
    <table class="table-simple">
        <tr class="table-simple-row">
            <td class="table-simple-header">Pavadinimas</td>
            <td class="table-simple-cell">Stalas</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-header">Vertė</td>
            <td class="table-simple-cell">50</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-header">Pridėta</td>
            <td class="table-simple-cell">2018-02-31</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-header">Kategorija</td>
            <td class="table-simple-cell">Baldai</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-header">Būsena</td>
            <td class="table-simple-cell">Naudojamas</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-header">Vartotojas</td>
            <td class="table-simple-cell">Vardenis Pavardenis</td>
        </tr>
    </table>
    <a class="btn" href="/inventory/item/form">Redaguoti</a>
    <a class="btn" href="/inventory">Pašalinti</a>
</div>
<!-- Sidebar -->
<div id="sidebar">
{{ include ('inventory/side_menu.html.twig') }}
</div>
<!-- End Sidebar -->
<div class="cl">&nbsp;</div>
{% endblock %}
