{% extends 'base.html.twig' %}

{% block content %}
<div id="main-content">
    <form method="get" action="report">
        <div>
            <label class="user-form" for="type">Ataskaitos tipas</label>
            <select class="user-form" id="type">
                <option>Pridėtų daiktų</option>
                <option>Pašalintų daiktų</option>
            </select>
        </div>
        <div>
            <label class="user-form" for="date">Mėnesis</label>
            <input class="user-form" type="date" id="date" />
        </div>
        <button type="submit" class="btn login">Rodyti</button>
    </form>
    <table class="table-simple">
        <thead class="table-simple-row">
            <td class="table-simple-header">Pavadinimas</td>
            <td class="table-simple-header">Vertė</td>
            <td class="table-simple-header">Būsena</td>
            <td class="table-simple-header">Kategorija</td>
        </thead>
        <tr class="table-simple-row">
            <td class="table-simple-cell">Stalas</td>
            <td class="table-simple-cell">50</td>
            <td class="table-simple-cell">Naudojamas</td>
            <td class="table-simple-cell">Baldai</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-cell">Kėdė</td>
            <td class="table-simple-cell">20</td>
            <td class="table-simple-cell">Naudojamas</td>
            <td class="table-simple-cell">Baldai</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-cell">Kompiuteris</td>
            <td class="table-simple-cell">500</td>
            <td class="table-simple-cell">Naudojamas</td>
            <td class="table-simple-cell">Technika</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-cell">Mercedes-Benz Atego 1517 </td>
            <td class="table-simple-cell">10000</td>
            <td class="table-simple-cell">Laisvas</td>
            <td class="table-simple-cell">Sukvežimiai</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-cell">Mercedes-Benz 2644 Actros</td>
            <td class="table-simple-cell">15000</td>
            <td class="table-simple-cell">Laisvas</td>
            <td class="table-simple-cell">Sukvežimiai</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-cell">Mercedes-Benz 2644 Actros</td>
            <td class="table-simple-cell">15000</td>
            <td class="table-simple-cell">Naudojamas</td>
            <td class="table-simple-cell">Sukvežimiai</td>
        </tr>
        <tr class="table-simple-row">
            <td class="table-simple-header table-total-label">Iš viso:</td>
            <td class="table-simple-cell table-total-value">40570</td>
            <td class="table-simple-header table-total-label">Vidutinė vertė:</td>
            <td class="table-simple-cell table-total-value">6761.67</td>
        </tr>
    </table>
</div>
<!-- Sidebar -->
<div id="sidebar">
{{ include ('inventory/side_menu.html.twig') }}
</div>
<!-- End Sidebar -->
<div class="cl">&nbsp;</div>
{% endblock %}
