{% extends 'base.html.twig' %}

{% block content %}
<div id="main-content">
    <form method="get" action="/inventory">
        <div>
            <label class="user-form" for="name">Pavadinimas</label>
            <input class="user-form" type="text" id="name" />
        </div>
        <button type="submit" class="btn login">Patvirtinti</button>
    </form>
</div>
<!-- Sidebar -->
<div id="sidebar">
{{ include ('inventory/side_menu.html.twig') }}
</div>
<!-- End Sidebar -->
<div class="cl">&nbsp;</div>
{% endblock %}
