{% extends 'base.html.twig' %}

{% block content %}
<div class="col-lg-3 panel-group">
    {% include 'inventory/side_menu.html.twig' %}
</div>
<div class="col-lg-4">
    <h2>Nauja Būsena</h2>
    {{ include('error_msg.html.twig', { 'msg': error }) }}
    {{ include('success_msg.html.twig', { 'msg': success }) }}
    <form method="post" action="/inventory/status">
        <div class="form-group">
            <label for="name">Pavadinimas</label>
            <input class="form-control" type="text" name="name" id="name" />
        </div>
        <button type="submit" class="btn btn-secondary">Patvirtinti</button>
    </form>
</div>
{% endblock %}
