{% extends 'base.html.twig' %}

{% block content %}
<div class="container mt-5 py-3 bg-light border border-primary rounded">
    <div class="row">
        <div class="col-4 border-right">Vardas:</div>
        <div class="col-2">Vardenis</div>
    </div>
    <div class="row">
        <div class="col-4 border-right">pavardė:</div>
        <div class="col-2">Pavardenis</div>
    </div>
    <div class="row">
        <div class="col-4 border-right">El. paštas:</div>
        <div class="col-2">pastas@email.com</div>
    </div>
    <div class="row">
        <div class="col-4 border-right">Tipas:</div>
        <div class="col-2">Administratorius</div>
    </div>
</div>
{% endblock %}
