{% extends 'base.html.twig' %}

{% block content %}
<div class="cl">&nbsp;</div>
<div id="content">
    <div class="row">
        <div>Vardas:</div>
        <div>Vardenis</div>
    </div>
    <div class="row">
        <div>pavardė:</div>
        <div>Pavardenis</div>
    </div>
    <div class="row">
        <div>El. paštas:</div>
        <div>pastas@email.com</div>
    </div>
    <div class="row">
        <div>Tipas:</div>
        <div>Administratorius</div>
    </div>
    <div class="row">
        <div>Užsiregistruota:</div>
        <div>2018-02-31</div>
    </div>
</div>
<div class="cl">&nbsp;</div>
{% endblock %}
