{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        {% if msg %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-3 panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="my-4">Filtrai </h2>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="/orders/list/date/asc" class="list-group-item">Pagal datą didėjimo tvarka</a>
                            <a href="/orders/list/date/desc" class="list-group-item">Pagal datą mažėjimo tvarka</a>
                        </div>
                    </div>
                </div>
            </div>

            {% if orders %}
            <div class="col-lg-9">
                <h2>Užsakymas</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Užsakymo numeris</th>
                        <th>Data</th>
                        <th>Apmoketa</th>
                        <th>Draudimas</th>
                        <th>Sekimas</th>
                        <th>Prekių peržiūra</th>
                    </tr>
                    {% for order in orders %}
                        {% if order.apmokejimaBusena != 0 %}
                        <tr>
                            <td>#{{   order.id }}</td>
                            <td>{{ order.data|date('Y-m-d') }}</td>
                            {% if order.apmokejimaBusena == 1 %}
                                <td>Taip</td>
                            {% else %}
                                <td>Ne</td>
                            {% endif %}
                            {% if order.draudimas == 1 %}
                                <td>Taip</td>
                            {% else %}
                                <td>Ne</td>
                            {% endif %}
                            {% if order.sekimas == 1 %}
                                <td>Taip</td>
                            {% else %}
                                <td>Ne</td>
                            {% endif %}
                            <td><a href="{{ path('list', {'id': order.id }) }}">Peržiūrėti</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <h2>Nėra sudarytų užsakymų</h2>
            {% endif %}
        </div>
    </div>

{% endblock %}
