{% extends 'base.html.twig' %}

{% block content %}
    <div id="container">
        <div class="row">
            <h1>Apmokėjimas</h1>
            <h3>Duomenys</h3>
            <form method="post" action="/orders/payment/add">
                <div>
                    <label for="name">Vardas, pavarde</label>
                    <input type="text" id="name" name="name" placeholder="Vardenis Pavardenis">
                </div>
                <div>
                    <label for="email">El. pastas</label>
                    <input type="text" id="email" name="email" placeholder="vardenis@example.com">
                </div>
                <div>
                    <label for="adr">Adresas</label>
                    <input type="text" id="adr" name="adr" placeholder="Kalnieciu 19a">
                </div>
                <div>
                    <label for="city">Miestas</label>
                    <input type="text" id="city" name="city" placeholder="Kaunas">
                </div>
                <div>
                    <label for="card">Kortelės numeris</label>
                    <input type="text" id="card" name="card" placeholder="000000000">
                </div>
                <div>
                    <button type="submit" class="btn btn-secondary">Pabaigti</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
