{% extends 'base.html.twig' %}

{% block content %}
    <div id="main-content">
        <table class="table-simple">
            <thead class="table-simple-row">
            <td class="table-simple-header">Pavadinimas</td>
            <td class="table-simple-header">Vertė</td>
            <td class="table-simple-header">Būsena</td>
            <td class="table-simple-header">Kategorija</td>
            <td class="table-simple-header">Veiksmas</td>
            </thead>
            <tr class="table-simple-row">
                <td class="table-simple-cell"><a href="/inventory/item">Stalas</a></td>
                <td class="table-simple-cell">50</td>
                <td class="table-simple-cell">Naudojamas</td>
                <td class="table-simple-cell">Baldai</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="/orders/edit">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell"><a href="/inventory/item">Kėdė</a></td>
                <td class="table-simple-cell">20</td>
                <td class="table-simple-cell">Naudojamas</td>
                <td class="table-simple-cell">Baldai</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="/orders/edit">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell"><a href="/inventory/item">Kompiuteris</a></td>
                <td class="table-simple-cell">500</td>
                <td class="table-simple-cell">Naudojamas</td>
                <td class="table-simple-cell">Technika</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="/orders/edit">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell"><a href="/inventory/item">Mercedes-Benz Atego 1517</a></td>
                <td class="table-simple-cell">10000</td>
                <td class="table-simple-cell">Laisvas</td>
                <td class="table-simple-cell">Sukvežimiai</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="/orders/edit">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell"><a href="/inventory/item">Mercedes-Benz 2644 Actros</a></td>
                <td class="table-simple-cell">15000</td>
                <td class="table-simple-cell">Laisvas</td>
                <td class="table-simple-cell">Sukvežimiai</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="/orders/edit">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
            <tr class="table-simple-row">
                <td class="table-simple-cell"><a href="/inventory/item">Mercedes-Benz 2644 Actros</a></td>
                <td class="table-simple-cell">15000</td>
                <td class="table-simple-cell">Naudojamas</td>
                <td class="table-simple-cell">Sukvežimiai</td>
                <td class="table-simple-cell">
                    <a class="table-action" href="/orders/edit">Redaguoti</a>
                    <a class="table-action" href="#">Pašalinti</a>
                </td>
            </tr>
        </table>
    </div>
    {#<div class="box search">#}
        {#<h2>Paieska<span></span></h2>#}
        {#<div class="box-content">#}
            {#<form action="#" method="post">#}
                {#<input type="text" class="field" />#}
                {#<input type="submit" class="search-submit" value="Ieskoti" />#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
    <!-- End Search -->
    <!-- Categories -->
    {#<div class="box categories">#}
        {#<h2>Kategorijos<span></span></h2>#}
        {#<div class="box-content">#}
            {#<form action="#" method="post">#}
                {#<ul>#}
                    {#<li><input type="checkbox" id="Naujausi" name="Naujausi" value="Naujausi"/>Naujausi</li>#}
                    {#<li><input type="checkbox" id="Seniausi" name="Seniausi" value="Seniausi"/>Seniausi</li>#}
                    {#<li><input type="checkbox" id="Pagal kaina didedijomo tvarka" name="Pagal kaina didedijomo tvarka" value="Pagal kaina didedijomo tvarka" />Pagal kaina didedijomo tvarka</li>#}
                    {#<li><input type="checkbox" id="Pagal kaina mazejimo tvarka" name="Pagal kaina mazejimo tvarka" value="Pagal kaina mazejimo tvarka" />Pagal kaina mazejimo tvarka</li>#}
                {#</ul>#}
                {#<input type="submit" class="search-submit" value="Filtruoti" />#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
{% endblock %}
