{% extends 'base.html.twig' %}

{% block content %}
    <div class="conteiner">
        <div class="row">
            <div class="col-lg-3 panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="my-4">Paieska</h2>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <form action="#" method="post">
                                <input type="text" class="field" />
                                <input type="submit" class="bnt btn-primary" value="Ieskoti" />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="my-4">Filtrai </h2>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">Pagal kaina didejimo tvarka</a>
                            <a href="#" class="list-group-item">Pagal kaina mazejimo tvarka</a>
                            <a href="#" class="list-group-item">Pagal naujausias prekes</a>
                            <a href="#" class="list-group-item">Pagal populiariausias prekes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <h2>Uzsakymas</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Vertė</th>
                        <th>Būsena</th>
                        <th>Kategorija</th>
                        <th>Veiksmas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
